<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HRM Backend</title>
    </head>
    <body> 
        <div class="container">
          <h1>HRM Backend API</h1>
        </div> 
    </body>
</html>