<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>File Upload</title>
        <style>
            *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
            }
            body{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background: #f7f7d0;
            }
            .container{
            max-width: 700px;
            width: 100%;
            background-color: #f9fadc;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.15);
            }
            form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px 0 12px 0;
            }

            form .Thankyou-box {
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
            }
        </style>
    </head>
    <body> 
        <div class="container">
          <form action="#">
            <div class="Thankyou-box">
                <h1> Thank You! </h1>
            </div>
            <div class="succes">
              <h1> ✔ File Succesfully Uploaded. </h1>
            </div>
          </form>
        </div> 
    </body>
</html>